body {
    font-family: Arial, sans-serif;
}

.animate-pulse {
    animation: pulse 5s ease-in-out infinite;
}

html, body {
    height: 100%;
    overflow-y: auto; /* Ensure vertical scrolling is allowed */
}

body {
    padding-top: 80px; /* Adjust based on header height */
}

.min-h-screen {
    min-height: auto !important; /* Let content define height */
}

footer {
    position: relative;
    bottom: auto;
}
#buy-now {
    margin-bottom: 100px; /* Ensures you can scroll down */
}


@keyframes pulse {
    0%, 100% {
        opacity: 0.15;
    }
    50% {
        opacity: 0.3;
    }
}
