body {
    font-family: Arial, sans-serif;
}

.animate-pulse {
    animation: pulse 5s ease-in-out infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 0.15;
    }
    50% {
        opacity: 0.3;
    }
}
